<table id="notes" style="width:100%;">
	<tr class="header">
		<th style="width:20%;">Title</th>
		<th style="width:35%">Contents</th>
		<th style="width:5%;">Priority</th>
		<th style="width:5%;">Category</th>
		<th style="width:8%;">Subject</th>
		<th style="width:7%;">Starts</th>
		<th style="width:7%;">Expires</th>
		<th style="width:5%;">Weekly</th>
		<th>Links</th>
	</tr>
	<% if !@notes.empty? %>
		<% @notes.each do |note| %>
			<tr>
				<td><%= note.title %></td>
				<td><%= note.content %></td>
				<td><%= note.urgent ? "High" : "Normal" %></td>
				<td><%= note.category.downcase.capitalize %></td>
				<td><a href="<%= note.subject_link %>"><%= note.subject_title %></a></td>
				<td><%= note.start_date %></td>
				<td><%= note.end_date %></td>
				<td><%= note.weekly %></td>
				<td>
					<a href="/notes/edit/<%= note.id %>">Edit</a> | <a onclick="confirmation('<%= note.title %>','/notes/delete/<%= note.id %>')">Delete</a>
				</td>
			</tr>
		<% end %>
	<% else %>
		<tr><td colspan="9" style="text-align:center;font-weight:bold;">No notes found</td></tr>
	<% end %>
</table>