<div class="form_section">
	<h3>Details</h3>
	<table class="form_table">
		<tr>
			<td><%= text_field_tag "first_name", @staff.first_name, :placeholder => "First Name", :class => "long field" %></td>
			<td><%= text_field_tag "last_name", @staff.last_name, :placeholder => "Last Name", :class => "long field" %></td>
			<td><%= text_field_tag "date_of_birth", (@staff.date_of_birth.strftime("%d-%m-%Y") rescue nil), :placeholder => "DD-MM-YYYY", :class => "field" %></td>
		</tr>
		<tr>
			<td><%= text_field_tag "role", @staff.role, :placeholder => "Role", :class => "field" %></td>
			<td>Skip Issues:<%= check_box_tag "skip_issues", "", @horse.skip_issues, :class => "field" %></td>
		</tr>
	</table>
</div>
<div class="form_section">
	<h3>Contact</h3>
	<table class="form_table">
		<tr>
			<td><%= text_field_tag "address_line_1", @staff.address_line_1, :placeholder => "Address Line 1", :class => "long field" %></td>
			<td><%= text_field_tag "address_line_2", @staff.address_line_2, :placeholder => "Address Line 2", :class => "long field" %></td>
			<td><%= text_field_tag "city", @staff.city, :placeholder => "City", :class => "field" %></td>
			<td><%= text_field_tag "county", @staff.county, :placeholder => "County", :class => "field" %></td>
		</tr>
		<tr>
			<td><%= text_field_tag "country", @staff.country, :placeholder => "Country", :class => "field" %></td>
			<td><%= text_field_tag "post_code", @staff.post_code, :placeholder => "Post Code", :class => "field" %></td>
		</tr>
		<tr>
			<td>Home: <%= text_field_tag "home_phone", @staff.home_phone, :placeholder => "Home Phone", :class => "field" %></td>
			<td>Mobile: <%= text_field_tag "mobile_phone", @staff.mobile_phone, :placeholder => "Mobile Phone", :class => "field" %></td>
		</tr>
	</table class="form_table">
</div>
<div class="form_section">
	<h3>Available</h3>
	<table class="form_table">
		<tr>
			<td>
				Monday: <%= check_box_tag "monday", "", @staff.monday, :class => "break_right_small field" %>
				Tuesday: <%= check_box_tag "tuesday", "", @staff.tuesday, :class => "break_right_small field" %>
				Wednesday: <%= check_box_tag "wednesday", "", @staff.wednesday, :class => "break_right_small field" %>
				Thursday: <%= check_box_tag "thursday", "", @staff.thursday, :class => "break_right_small field" %>
				Friday: <%= check_box_tag "friday", "", @staff.friday, :class => "break_right_small field" %>
				Saturday: <%= check_box_tag "saturday", "", @staff.saturday, :class => "break_right_small field" %>
				Sunday: <%= check_box_tag "sunday", "", @staff.sunday, :class => "break_right_small field" %>
			</td>
		</tr>
	</table>
</div>