<div class="form_section">
	<h3>Details</h3>
	<table class="form_table">
		<tr>
			<td><%= text_field_tag "name", @horse.name, :placeholder => "Name", :class => "long field" %></td>
			<td><%= select_tag "standard", "<option value='0'>Select Riding Standard</option><option value='BEGINNER'>Beginner</option><option value='INTERMEDIATE'>Intermediate</option><option value='ADVANCED'>Advanced</option>".html_safe, :class => "field" %></td>
			<td style="padding-left:10px;padding-right:10px;">Availability: <%= check_box_tag "availability", "", @horse.availability, :class => "field" %></td>
			<td><%= text_field_tag "max_day_workload", @horse.max_day_workload, :placeholder => "Max Day Workload (hrs)", :class => "long field" %></td>
		</tr>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		try {$("select#standard").val("<%= @horse.standard %>")} catch(e) {}
	})
</script>