<tr>
	<td><%= text_field_tag "first_name", @client.first_name, :placeholder => "First Name", :class => "long client_field" %><%= hidden_field_tag "client_id", (@client.id || 0) %></td>
	<td><%= text_field_tag "last_name", @client.last_name, :placeholder => "Last Name", :class => "long client_field" %></td>
	<td>
		Date of Birth:
		<select id="day" class="client_field">
			<option value="0">DD</option>
			<% 31.times do |d| %>
				<% d+=1 %>
				<option value="<%= d<10 ? "0#{d}" : d %>"><%= d %></option>
			<% end %>
		</select>
		<select id="month" class="client_field">
			<option value="0">MM</option>
			<% 12.times do |m| %>
				<% m+=1 %>
				<option value="<%= m<10 ? "0#{m}" : m %>"><%= Date::MONTHNAMES[m] %></option>
			<% end %>
		</select>
		<select id="year" class="client_field">
			<option value="0">YYYY</option>
			<% 100.times do |y| %>
				<% y+=1 %>
				<option value="<%= Date.today.year - y %>"><%= Date.today.year - y %></option>
			<% end %>
		</select>
	</td>
</tr>
<tr>
	<td><%= text_field_tag "address_line_1", @client.address_line_1, :placeholder => "Address Line 1", :class => "long client_field" %></td>
	<td><%= text_field_tag "address_line_2", @client.address_line_2, :placeholder => "Address Line 2", :class => "long client_field" %></td>
	<td><%= text_field_tag "city", @client.city, :placeholder => "City", :class => "client_field" %></td>
	<td><%= text_field_tag "county", @client.county, :placeholder => "County", :class => "client_field" %></td>
	<td><%= text_field_tag "country", @client.country, :placeholder => "Country", :class => "client_field" %></td>
</tr>
<tr>
	<td>Home: <%= text_field_tag "home_phone", @client.home_phone, :placeholder => "Home Phone", :class => "client_field" %></td>
	<td>Mobile: <%= text_field_tag "mobile_phone", @client.mobile_phone, :placeholder => "Mobile Phone", :class => "client_field" %></td>
	<td><%= text_field_tag "height", @client.height, :placeholder => "Height (feet & inches)", :class => "client_field" %></td>
	<td><%= text_field_tag "weight", @client.weight, :placeholder => "Weight (stones)", :class => "client_field" %></td>
	<td><%= text_field_tag "post_code", @client.post_code, :placeholder => "Post Code", :class => "client_field" %></td>
</tr>
<tr>
	<td><%= text_field_tag "email", @client.email, :placeholder => "Email", :class => "client_field" %></td>
</tr>
<tr>
	<td style="vertical-align:middle;">Serious injury from riding ever?: <%= check_box_tag "injury", "", @client.injury, :class => "client_field" %></td>
	<td colspan="3"><%= text_area_tag "injury_details", @client.injury_details, :placeholder => "Please describe", :size => "70x3", :class => "client_field" %></td>
</tr>
<tr>
	<td colspan="3"><%= text_area_tag "medical_notes", @client.medical_notes, :placeholder => "Any disability, medical condition or medication that may affect riding ability or instructor should be aware of in case of emergency", :size => "70x3", :class => "client_field" %></td>
</tr>
<tr>
	<td><%= text_field_tag "doctor", @client.doctor, :placeholder => "Doctor Name", :class => "long client_field" %></td>
	<td><%= text_field_tag "doctor_contact", @client.doctor_contact, :placeholder => "Doctor Contact Phone", :class => "long client_field" %></td>
	<td><%= text_field_tag "tetanus_date", @client.tetanus_date, :placeholder => "Last Tetanus Injection", :class => "client_field" %></td>
</tr>
<tr>
	<td><%= text_field_tag "emergency_contact_name", @client.emergency_contact_name, :placeholder => "Emergency Contact Name", :class => "long client_field" %></td>
	<td><%= text_field_tag "emergency_contact_phone", @client.emergency_contact_phone, :placeholder => "Emergency Contact Phone", :class => "long client_field" %></td>
</tr>
<tr>
	<td><%= text_field_tag "times_ridden", @client.times_ridden, :placeholder => "Times ridden in last 12months", :class => "long client_field" %></td>
	<td><%= select_tag "standard", "<option value='0'>Select Riding Standard</option><options value='LEAD-REIGN'>Lead-reign</option><option value='BEGINNER'>Beginner</option><option value='INTERMEDIATE'>Intermediate</option><option value='ADVANCED'>Advanced</option>".html_safe, :class => "client_field" %></td>
</tr>
<tr>
	<td><%= text_field_tag "heard_about_us", @client.heard_about_us, :placeholder => "Heard About Us", :class => "long client_field" %></td>
	<td colspan="4">
		Client can:<br/>
		Walk:<%= check_box_tag "walk", "", @client.walk, :class => "client_field break_right" %>Trot with Stirrups:<%= check_box_tag "trot_with", "", @client.trot_with, :class => "client_field break_right" %>Trot without Stirrups:<%= check_box_tag "trot_without", "", @client.trot_without, :class => "client_field break_right" %>Canter:<%= check_box_tag "canter", "", @client.canter, :class => "client_field break_right" %><br/>
		Hack:<%= check_box_tag "hack", "", @client.hack, :class => "client_field break_right" %>Jump up to 0.5m:<%= check_box_tag "jump_5_meter", "", @client.jump_5_meter, :class => "client_field break_right" %>Jump up to 0.75m:<%= check_box_tag "jump_75_meter", "", @client.jump_75_meter, :class => "client_field break_right" %>Cross-Country:<%= check_box_tag "x_country", "", @client.x_country, :class => "client_field break_right" %>&nbsp;
	</td>
</tr>

<td><button id="clear_booking_client">Clear</button></td>

<script type="text/javascript">
	$(document).ready(function() {
		try {
			$("select#standard.client_field").val("<%= @client.standard %>");
			$("select#day").val("<%= @client.date_of_birth.strftime("%d") if @client.date_of_birth %>");
			$("select#month").val("<%= @client.date_of_birth.strftime("%m") if @client.date_of_birth %>");
			$("select#year").val("<%= @client.date_of_birth.strftime("%Y") if @client.date_of_birth %>");
		} catch(e) {}

		$("button#clear_booking_client").unbind("click").click(function() {
			$("table.client_search").show();
			$("table#client_search_results").empty();
			$("table.client_fields").hide();
			$("table.client_notes").hide();
		})
	})
</script>