<h3>Event</h3>
<table class="form_table">
	<tr class="spaced">
		<td>
			New or existing event:
			<select id="event_mode">
				<option value="0">New</option>
				<% @events.each do |event| %>
					<option value="<%= event.id %>"><%= event.event_date == Date.today ? "Today" : event.event_date %> <%= event.start_time.strftime("%H:%M") %> <%= event.name %> (<%= event.capacity %>)</option>
				<% end %>
			</select>
		</td>
		<td><%= text_field_tag "name", @event.name, :placeholder => "Name", :class => "field" %></td>
		<td>
			<select id="event_type" class="field">
				<option value="0">Event Type</option>
				<% Event::TYPES.each do |evt| %>
					<option value="<%= evt %>"><%= evt.downcase.capitalize %></option>
				<% end %>
			</select>
		</td>
		<td>
			<select id="standard" class="field event">
				<option value="0">Riding Standard</option>
				<% Event::STANDARDS.each do |standard| %>
					<option value="<%= standard %>"><%= standard.downcase.capitalize %></option>
				<% end %>
			</select>
		</td>
		<td>
			<select id="venue_id" class="field">
				<option value="0">Venue</option>
				<% Venue.order("name").each do |venue| %>
					<option value="<%= venue.id %>"><%= venue.name %></option>
				<% end %>
			</select>
		</td>
		<td>Capacity:<%= text_field_tag "max_clients", @event.max_clients, :class => "field short" %></td>
	</tr>
	<tr>
		<td colspan="3"><%= text_area_tag "description", @event.description, :placeholder => "Description", :size => "70x3", :class => "field" %></td>
		<td>
			<select id="staff_id" class="field">
				<option value="0">Staff</option>
				<% Staff.order("last_name").each do |staff| %>
					<option value="<%= staff.id %>"><%= staff.last_name %>, <%= staff.first_name %></option>
				<% end %>
			</select>
		</td>
		<td><%= text_field_tag "event_date", @event.event_date, :placeholder => "Date", :class => "field" %></td>
		<td>Start time:<%= text_field_tag "start_time", (@event.start_time.strftime("%H:%M") rescue nil), :disabled => true, :class => "field short" %></td>
		<td>Duration:<%= text_field_tag "duration", @event.duration, :disabled => true, :class => "short" %></td>
	</tr>
</table>
<%= hidden_field_tag "end_time", (@event.end_time.strftime("%H:%M") rescue nil), :class => "field" %>

<table id="venue_timetable" style="width:100%">
	<%= render :partial => "venue_timetable" %>
</table>
<div id="timetable_controls" style="margin-top:5px;text-align:center;">
	<% if @event.duration == "0:00" %>
		<button class="start" id="set_time">Set Start Time</button>
	<% else %>
		<button id="set_time" disabled="disabled">Finished Setting Time</button>
	<% end %>
	<button id="clear">Clear</button>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("select#venue_id").unbind("change").change(function() {
			if ($("input#event_date").val().length == 0) {
				var date = new Date();
				var today = date.getFullYear()+"-"+((date.getMonth()+1 < 10) ? "0"+(date.getMonth()+1) : (date.getMonth()+1))+"-"+((date.getDate() < 10) ? "0"+date.getDate() : date.getDate());
				$("input#event_date").val(today);
			}
			$("table#venue_timetable").load("/bookings/reload_timetable/"+$("input#event_date").val()+"/"+$(this).val()+"/"+$("select#event_mode").val(), function() {
				if (!window.blockWipeout) {
					$("input#start_time").val("");
					$("input#end_time").val("");
					$("input#duration").val("0:00");
					$("td.selected").removeClass("selected first last");
					$("#set_time").removeClass().addClass("start").attr("disabled", false).html("Set Start Time");
				} else {
					$("input#duration").val(calculateDuration());
				}
				if ($("td.selected").length == 0) {
					$("#set_time").removeClass().addClass("start").attr("disabled", false).html("Set Start Time");
					timetableInteraction();
				} else {
					$("#set_time").removeClass().addClass("start").attr("disabled", true).html("Finished Setting Time");
				}
				$("div#horse_form_container").load("/bookings/refresh_horses/"+$("input#event_date").val());
			});
		})
		$("input#event_date").unbind("change").change(function() {
			$("select#venue_id").trigger("change");
		})

		$("select#event_mode").unbind("change").change(function() {
			if ($(this).val() == "0") {
				$("input#event_name").val("");
				$("select#event_type").val("0");
				$("select#standard.field.event").val("0");
				$("input#max_clients").val("");
				$("textarea#description").val("");
				$("input#start_time").val("");
				$("input#end_time").val("");
				$("input#duration").val("0:00");
				$("select#horse_id").val("0");
				$("select#venue_id").val("0").trigger("change");
				$("select#staff_id").val("0");
				$("input#event_date").val("");
			} else {
				$.ajax({
					url: "/bookings/get_event/"+$(this).val(),
					type: "GET",
					success: function(evt) {
						$("input#name").val(evt.name);
						$("select#event_type").val(evt.event_type);
						$("select#standard.field.event").val(evt.standard);
						$("input#max_clients").val(evt.max_clients);
						$("textarea#description").val(evt.description);
						$("input#event_date").val(evt.date);
						$("input#start_time").val(evt.formatted_start_time);
						$("input#end_time").val(evt.formatted_end_time);
						window.blockWipeout = true;
						$("select#venue_id").val(evt.venue_id).trigger("change");
						$("select#staff_id").val(evt.staff_id);
					}
				})
			}
		})
	})
</script>