<h3>Event</h3>
<table class="form_table">
	<tr class="spaced">
		<td>
			<select id="event_mode">
				<option value="0">New</option>
				<% @events.each do |event| %>
					<option value="<%= event.id %>"><%= event.event_date == Date.today ? "Today" : event.event_date.strftime("%d-%m-%Y") %> <%= event.start_time.strftime("%l:%M %P") %> (<%= event.event_type.downcase.capitalize %>)</option>
				<% end %>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<select id="event_type" class="field">
				<option value="0">Event Type</option>
				<% Event::TYPES.each do |evt| %>
					<option value="<%= evt %>"><%= evt.downcase.capitalize %></option>
				<% end %>
			</select>
		</td>
		<td>
			<select id="master_venue_id" class="field">
				<option value="0">Venue</option>
				<% Venue.where(:master => true).order("name").each do |venue| %>
					<option value="<%= venue.id %>"><%= venue.name %></option>
				<% end %>
			</select>
			<%= hidden_field_tag "venue_id", @event.venue_id, :class => "field" %>
		</td>
		<td><%= text_field_tag "event_date", (@event.event_date.strftime("%d-%m-%Y") rescue nil), :placeholder => "Date", :class => "field" %></td>
	</tr>
	<tr>
		<td colspan="4"><%= text_area_tag "description", @event.description, :placeholder => "Description", :size => "70x2", :class => "field" %></td>
	</tr>
	<tr>
		<td colspan="4"><%= text_area_tag "staff_notes", @event.staff_notes, :placeholder => "Instructor Notes", :size => "70x2", :class => "field" %></td>
	</tr>
	<tr>
		<td>Start time:<%= text_field_tag "formatted_start_time", (@event.start_time.strftime("%l:%M %P") rescue nil), :disabled => true, :class => "short" %>
		<%= hidden_field_tag "start_time", (@event.start_time.strftime("%H:%M") rescue nil), :disabled => true, :class => "field short" %>
		Duration:<%= text_field_tag "duration", @event.duration, :disabled => true, :class => "short" %></td>
		<td>
			<select id="staff_id" class="staff_select field">
				<option value="0">Instructor</option>
				<% Staff.where(hidden: false).order("last_name").each do |staff| %>
					<option value="<%= staff.id %>"><%= staff.first_name %> <%= staff.last_name %></option>
				<% end %>
			</select>
		</td>
		<td>
			<select id="staff_id2" class="staff_select field">
				<option value="0">Instructor</option>
				<% Staff.where(hidden: false).order("last_name").each do |staff| %>
					<option value="<%= staff.id %>"><%= staff.first_name %> <%= staff.last_name %></option>
				<% end %>
			</select>
		</td>
		<td>
			<select id="staff_id3" class="staff_select field">
				<option value="0">Instructor</option>
				<% Staff.where(hidden: false).order("last_name").each do |staff| %>
					<option value="<%= staff.id %>"><%= staff.first_name %> <%= staff.last_name %></option>
				<% end %>
			</select>
		</td>
	</tr>
</table>
<%= hidden_field_tag "end_time", (@event.end_time.strftime("%H:%M") rescue nil), :class => "field" %>

<table id="venue_timetable" style="width:100%">
	<%= render :partial => "venue_timetable" %>
</table>
<div id="timetable_controls" style="margin-top:5px;text-align:center;">
	<% if @event.duration == "0:00" %>
		<button class="start" id="set_time">Set Start Time</button>
	<% else %>
		<button id="set_time" disabled="disabled">Finished Setting Time</button>
	<% end %>
	<button id="clear">Clear</button>
</div>
<table id="staff_timetable" style="width:100%">
	<%= render :partial => "staff_timetable" %>
</table>

<script type="text/javascript">
	$(document).ready(function() {
		$("select#master_venue_id").val("<%= @event.master_venue_id %>");
		$("select.staff_select").unbind("change").change(function() {
			$("table#staff_timetable").load("/bookings/reload_staff/"+$("input#event_date").val()+"/"+$("select#staff_id").val()+"/"+$("select#staff_id2").val()+"/"+$("select#staff_id3").val()+"/"+$("select#event_mode").val())
		})
		$("select#master_venue_id").unbind("change").change(function() {
			if ($("input#event_date").val().length == 0) {
				var date = new Date();
				var today = ((date.getDate() < 10) ? "0"+date.getDate() : date.getDate())+"-"+((date.getMonth()+1 < 10) ? "0"+(date.getMonth()+1) : (date.getMonth()+1))+"-"+date.getFullYear();
				$("input#event_date").val(today);
			}
			$("table#venue_timetable").load("/bookings/reload_timetable/"+$("input#event_date").val()+"/"+$(this).val()+"/"+$("select#event_mode").val(), function() {
				if (!window.blockWipeout) {
					$("input#start_time").val("").trigger("change");
					$("input#end_time").val("");
					$("input#duration").val("0:00");
					$("td.selected").removeClass("selected first last");
					$("#set_time").removeClass().addClass("start").attr("disabled", false).html("Set Start Time");
				} else {
					$("input#duration").val(calculateDuration());
				}
				if ($("td.selected").length == 0) {
					$("#set_time").removeClass().addClass("start").attr("disabled", false).html("Set Start Time");
					timetableInteraction();
				} else {
					$("#set_time").removeClass().addClass("start").attr("disabled", true).html("Finished Setting Time");
				}
				$("div#horse_form_container").load("/bookings/refresh_horses/"+$("input#event_date").val());
				$("select#staff_id").trigger("change");
			});
		})
		$("input#event_date").unbind("change").change(function() {
			$("select#master_venue_id").trigger("change");
			$("select#staff_id").trigger("change");
		})
		$("input#start_time").unbind("change").change(function() {
			$("input#formatted_start_time").val(formatTime($(this).val()));
		});

		$("select#event_mode").unbind("change").change(function() {
			if ($(this).val() == "0") {
				$("input#event_name").val("");
				$("select#event_type").val("0");
				$("textarea#description").val("");
				$("input#start_time").val("").trigger("change");
				$("input#end_time").val("");
				$("input#duration").val("0:00");
				$("select#horse_id").val("0");
				$("select#master_venue_id").val("0").trigger("change");
				$("select#staff_id").val("0");
				$("select#staff_id2").val("0");
				$("select#staff_id3").val("0");
				$("input#event_date").val("");
			} else {
				$.ajax({
					url: "/bookings/get_event/"+$(this).val(),
					type: "GET",
					success: function(evt) {
						$("input#name").val(evt.name);
						$("select#event_type").val(evt.event_type);
						$("textarea#description").val(evt.description);
						date_parts = evt.event_date.split("-")
						$("input#event_date").val(date_parts[2]+"-"+date_parts[1]+"-"+date_parts[0]);
						$("input#start_time").val(evt.formatted_start_time).trigger("change");
						$("input#end_time").val(evt.formatted_end_time);
						window.blockWipeout = true;
						$("select#master_venue_id").val(evt.master_venue_id).trigger("change");
						$("input#venue_id").val(evt.venue_id);
						$("select#staff_id").val(evt.staff_id);
						$("select#staff_id2").val(evt.staff_id2);
						$("select#staff_id3").val(evt.staff_id3);
					}
				})
			}
		})
	})
</script>