<div class="form_section">
	<%= render :partial => "event_form" %>
</div>

<% if !@event_edit_flag %>
	<div class="form_section">
		<%= render :partial => "cost_form" %>
	</div>

	<div class="form_section">
		<%= render :partial => "client_form" %>
	</div>

	<div id="horse_form_container" class="form_section">
		<%= render :partial => "horse_form" %>
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$("select#event_mode").val("<%= @event.id ? @event.id : 0 %>");
		$("select#event_type").val("<%= @event.event_type ? @event.event_type : 0 %>");
		$("select#staff_id").val("<%= @event.staff_id ? @event.staff_id : 0 %>");
		$("select#horse_id").val("<%= @booking.horse_id ? @booking.horse_id : 0 %>");
		$("input#event_date").datepicker({dateFormat: "yy-mm-dd"});
		$(".ui-datepicker").hide();
	})
</script>