<h3>Horse</h3>
<table class="form_table">
	<tr>
		<td>
			<select id="horse_id" class="field">
				<option value="0"></option>
				<% @horses.each do |horse| %>
					<option value="<%= horse.id %>"><%= horse.name %> (<%= horse.workload(@date) %>)<%= " (Exercise Only)" if horse.exercise %></option>
				<% end %>
			</select>
		</td>
		<td>Leave blank if a horse is to be allocated by the system.</td>
	</tr>
</table>

<table id="horse_timetable" style="width:100%">
	<%= render :partial => "horse_timetable" %>
</table>

<script type="text/javascript">
	$(document).ready(function() {
		$("select#horse_id").unbind("change").change(function() {
			if ($("input#event_date").val().length > 0) {
				$("table#horse_timetable").load("/bookings/reload_horse/"+$("input#event_date").val()+"/"+$("select#horse_id").val()+"/"+$("select#event_mode").val())
			}
		})
	})
</script>