<h3>REBOOK ALL</h3>
<div id="inner_available_now_wrapper" style="width:400px;">
	<div id="rebook_details">
		<table>
			<tr>
				<td><%= text_field_tag :event_date, @event.event_date.advance(:days => 7).strftime("%d-%m-%Y"), :class => "trig field" %></td>
				<td>
					<select id="event_type" class="trig field">
						<% Event::TYPES.each do |type| %>
							<option value="<%= type %>"><%= type.capitalize %></option>
						<% end %>
					</select>
				</td>
				<td>
					<select id="master_venue_id" class="trig field">
						<option value="0">VENUE</option>
						<% Venue.where(:master => true).each do |venue| %>
							<option value="<%= venue.id %>"><%= venue.name %></option>
						<% end %>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					Event: <select id="event_id" disabled="true" class="wipeout field"><option value="0">New</option></select>
					<%= hidden_field_tag :old_event_id, @event.id, :class => "field" %>
				</td>
			</tr>
			<tr>
				<td>
					<select id="duration" class="trig custom field">
						<option value="30">30 mins</option>
						<option value="45">45 mins</option>
						<option value="60">1 hour</option>
					</select>
					<input id="fixed_duration" class="fixed" disabled="true" style="display:none;width:90px;"></input>
				</td>
				<td>
					<select id="start_time" disabled="true" class="wipeout custom field"><option value="0">START</option></select>
					<input id="fixed_start_time" class="fixed" disabled="true" style="display:none;width:90px;"></input>
				</td>
				<td>Copy horses: <input type="checkbox" id="copy_horses"><br/>Copy instructors: <input type="checkbox" id="copy_staff"></td>
			</tr>
		</table>
		<table style="width:70%;margin:auto;">
			<% @event.bookings.each do |booking| %>
				<tr>
					<td style="text-align:right;width:25%;"><%= check_box_tag "booking#{booking.id}", booking.id, "", :class => "booking" %></td>
					<td colspan="2" style="text-align:left;width:75%;"><%= booking.client.first_name if booking.client %> <%= booking.client.last_name if booking.client %> <span class="horse" style="display:none;"><%= "(#{booking.horse.name})" rescue "" %></span></td>
				</tr>
			<% end %>
		</table>
	</div>
	<ul id="rberrors" style="list-style:none;color:red;font-weight:bold;"></ul>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("select#event_type").val("<%= @event.event_type %>");
		$("select#duration").val("<%= @event.duration_mins %>");
		$("input#event_date").datepicker({dateFormat: "dd-mm-yy"});
		$(".ui-datepicker").hide();

		$("input#copy_horses").unbind("click").click(function() {
			$(this).is(":checked") ? $("span.horse").show() : $("span.horse").hide();
		})

		$.each($(".trig"), function(i,trig) {
			$(trig).unbind("change").change(function() {
				buildTimes();
			})
		});

		function buildTimes() {
			var valid = true;
			$.each($(".trig"), function(i,trig) {
				if ($(trig).val() == "0") valid = false;
			})
			if (valid) {
				var params = {
					event_date: $("input#event_date").val(),
					event_type: $("select#event_type").val(),
					master_venue_id: $("select#master_venue_id").val(),
					duration: $("select#duration").val()
				}
				$.ajax({
					url: "/get_rebook_details",
					type: "GET",
					data: params,
					success: function(json) {
						window.json = json;
						$("select#event_id").empty().append('<option value="0">New</option>');
						$("select#start_time").empty();
						$.each(json.events, function(i,evt) {
							$("select#event_id").append('<option value="'+evt.id+'">'+evt.title+'</option>');
						})
						$.each(json.times, function(i,time) {
							$("select#start_time").append('<option value="'+time.raw+'">'+time.formatted+'</option>');
						})
						$("select#event_id").val("0").removeAttr("disabled");
						$("select#start_time").val('<%= @event.start_time.strftime("%H:%M") %>').removeAttr("disabled");
						$("select#event_id").unbind("change").change(function() {
							if ($(this).val()=="0") {
								$("select.custom").show();
								$("input.fixed").hide();
							} else {
								$("select.custom").hide();
								$("input.fixed").show();
								$.each(window.json.events, function(i,evt) {
									if (parseInt(evt.id) == parseInt($("select#event_id").val())) {
										$("input#fixed_duration").val(evt.duration);
										$("input#fixed_start_time").val(evt.start_time);
									}
								})
							}
						})
					}
				})
			} else {
				$("select.wipeout").empty();
				$("select#event_id").append('<option value="0">New</option>');
				$("select#start_time").append('<option value="0">START</option>');
				$("select.wipeout").val("0").attr("disabled","true");
			}
		}
	});
</script>