<div class="rebook_panel" id="step1">
	<h3>Re-Book - <%= @booking.event.event_date.strftime("%a") %> <%= @booking.event.event_date.strftime("%d").to_i.ordinalize %> <%= @booking.event.event_date.strftime("%b %Y") %> - <%= @booking.event.event_type.downcase.capitalize %> - <%= @booking.event.start_time.strftime("%l:%M%P") %> - <%= @booking.client.first_name %> <%= @booking.client.last_name %></h3>
	<!-- OPTIONS FOR WHEN -->
	<table id="rebook_table">
		<tr>
			<td colspan="5"><input type="radio" name="rebook_option" value="next_week" checked="checked" /> Next Week</td>
		</tr>
		<tr>
			<td style="width:100px;"><input type="radio" name="rebook_option" value="custom" /> Custom</td>
			<td><%= text_field_tag :event_date, @booking.event.event_date.advance(:days => 7).strftime("%d-%m-%Y"), :placeholder => "Date", :class => "field", :disabled => true %></td>
			<td>
				From 
				<select id="start_time" class="field" disabled="true">
					<% 15.times do |hr| %>
						<% hr += 7 %>
						<% fhr = hr > 12 ? hr-12 : hr %>
						<% ap = hr < 12 ? 'am' : 'pm' %>
						<% hr = hr < 10 ? "0#{hr}" : "#{hr}" %>
						<option value="<%= hr %>:00"><%= fhr %>:00 <%= ap %></option>
						<option value="<%= hr %>:15"><%= fhr %>:15</option>
						<option value="<%= hr %>:30"><%= fhr %>:30</option>
						<option value="<%= hr %>:45"><%= fhr %>:45</option>
					<% end %>
				</select>
			</td>
			<td>
				To 
				<select id="end_time" class="field" disabled="true">
					<% 15.times do |hr| %>
						<% hr += 7 %>
						<% fhr = hr > 12 ? hr-12 : hr %>
						<% ap = hr < 12 ? 'am' : 'pm' %>
						<% hr = hr < 10 ? "0#{hr}" : "#{hr}" %>
						<option value="<%= hr %>:00"><%= fhr %>:00 <%= ap %></option>
						<option value="<%= hr %>:15"><%= fhr %>:15</option>
						<option value="<%= hr %>:30"><%= fhr %>:30</option>
						<option value="<%= hr %>:45"><%= fhr %>:45</option>
					<% end %>
				</select>
			</td>
		</tr>
	</table>
</div>
<ul class="error" id="rebook_errors"></ul>

<script type="text/javascript">
	$(document).ready(function() {
		$("select#start_time").val("<%= @booking.event.start_time.strftime('%H:%M') %>");
		$("select#end_time").val("<%= @booking.event.end_time.strftime('%H:%M') %>");
		$("input#event_date").datepicker({dateFormat: "dd-mm-yy"});
		$(".ui-datepicker").hide();

		$("input[type='radio']").unbind("click").click(function() {
			if ($(this).val() == "next_week") {
				$("input#event_date").val("<%= @booking.event.event_date.advance(:days => 7).strftime('%d-%m-%Y') %>").attr("disabled", true);
				$("select#start_time").val("<%= @booking.event.start_time.strftime('%H:%M') %>").attr("disabled", true);
				$("select#end_time").val("<%= @booking.event.end_time.strftime('%H:%M') %>").attr("disabled", true);
			} else {
				$("input#event_date").attr("disabled", false);
				$("select#start_time").attr("disabled", false);
				$("select#end_time").attr("disabled", false);
			}
		})
	})
</script>