<h3 id="upcoming_title">
	<a class="change_date" date="<%= @date.advance(:days => -1).strftime("%d-%m-%Y") %>" style="float:left;"><< &nbsp;<%= @date.advance(:days => -1).strftime("%d-%m-%Y") %></a>
	<% if @date == Date.today %>
		Todays Bookings
	<% else %>
		<%= @date < Date.today ? "Past" : "Future" %> Bookings : <%= @date.strftime("%a") %> <%= @date.strftime("%d").to_i.ordinalize %> <%= @date.strftime("%b %Y") %>
	<% end %>
	<a class="change_date" date="<%= @date.advance(:days => 1).strftime("%d-%m-%Y") %>" style="float:right;"><%= @date.advance(:days => 1).strftime("%d-%m-%Y") %>&nbsp; >></a>
</h3>
<% if @date != Date.today %>
	<div style="text-align:center;text-decoration:underline;"><a class="change_date" date="<%= Date.today.strftime("%d-%m-%Y") %>">Go to Today</a></div>
<% end %>
<br/>
<table id="upcoming" style="width:100%">
	<tr class="header">
		<th>Time</th>
		<th>Horse</th>
		<th>Client</th>
		<th>Type</th>
		<th>Instructor</th>
		<th>Venue</th>
		<th>Rebooked</th>
		<th>Payment</th>
		<th>Links</th>
	</tr>
	<% if !@upcoming.empty? %>
		<% @upcoming.each do |event| %>
			<% if event.bookings.empty? %>
					<tr class="<%= 'cancelled' if event.cancelled %>">
						<td><%= event.start_time.strftime("%l:%M%P") if event.start_time %>-<%= event.end_time.strftime("%l:%M%P") if event.end_time %></td>
						<td colspan="2"></td>
						<td><%= event.event_type.downcase.capitalize if event.event_type %></td>
						<td><%= event.staff_list %></td>
						<td><%= event.venue.name if event.venue rescue nil %></td>
						<td colspan="2"></td>
						<td><a href="/bookings/show_event/<%= event.id %>">Details</a> | <a href="/bookings/edit_event/<%= event.id %>">Edit</a> | <a onclick="cancelBooking('<%= event.event_type %>','/bookings/cancel_event/<%= event.id %>')">Cancel</a> | <a onclick="deleteBooking('<%= event.event_type %>','/bookings/delete_event/<%= event.id %>')">Delete</a></td>
					</tr>
			<% end %>
			<% event.bookings.order(:cancelled).includes(:client).each_with_index do |booking,i| %>
				<tr class="<%= 'cancelled' if booking.cancelled %>">
					<% if i==0 %>
						<td><%= event.start_time.strftime("%l:%M%P") if event.start_time %>-<%= event.end_time.strftime("%l:%M%P") if event.end_time %></td>
					<% elsif i==1 %>
						<td rowspan="<%= event.bookings.count-1 %>"></td>
					<% end %>
					<td><a href="/horses/show/<%= booking.horse_id %>"><%= booking.horse.name if booking.horse rescue nil %></a></td>
					<td><a href="/clients/show/<%= booking.client_id %>"><%= booking.client.first_name if booking.client rescue nil %> <%= booking.client.last_name if booking.client rescue nil %></a></td>
					<% if i==0 %>
						<td><%= event.event_type.downcase.capitalize if event.event_type %></td>
						<td><%= event.staff_list %></td>
						<td><%= event.venue.name if event.venue rescue nil %></td>
					<% elsif i==1 %>
						<td colspan="3" rowspan="<%= event.bookings.count-1 %>"></td>
					<% end %>
					<td style="text-align:center;"><%= check_box_tag "rb#{booking.id}", "", booking.rebooked, :disabled => true %></td>
					<td style="text-align:center;"><%= check_box_tag "py#{booking.id}", "", booking.payments.first, :disabled => true %></td>
					<td>
						<a href="/bookings/show/<%= booking.id %>">Details</a> | 
						<% if current_user.user_level != User::BASE && !booking.cancelled %>
							<a href="/bookings/edit/<%= booking.id %>">Edit</a> | <a onclick="cancelBooking('<%= event.event_type %> : <%= booking.client.first_name+" "+booking.client.last_name if booking.client %>','/bookings/cancel/<%= booking.id %>')">Cancel</a> | 
						<% end %>
						<a onclick="deleteBooking('<%= event.event_type %> : <%= booking.client.first_name+" "+booking.client.last_name if booking.client %>','/bookings/delete/<%= booking.id %>')">Delete</a> | <a href="/notes/BOOKING/<%= booking.id %>">Notes</a>
					</td>
				</tr>
			<% end %>
		<% end %>
	<% else %>
		<tr>
			<td colspan="9" class="center">No bookings found</td>
		</tr>
	<% end %>
</table>

<script type="text/javascript">
	$(document).ready(function() {
		$("#auto_assign").attr("date", "<%= @date.strftime('%d-%m-%Y') %>");

		$.each($("a.change_date"), function(i,date) {
			$(date).unbind("click").click(function() {
				$("div#upcoming_bookings").load("/bookings/upcoming/"+$(this).attr("date"));
			})
		})
	})
</script>