<tr>
	<% 15.times do |hr| %>
		<% hr += 7 %>
		<td colspan="4"><%= (hr<10 ? "0"+hr.to_s : hr.to_s)+":00" %></td>
	<% end %>
</tr>
<% if !@venue %>
	<tr><td colspan="60" style="text-align:center;font-weight:bold;height:20px;">Select a venue to see available times</td></tr>
<% else %>
	<% @venues.each do |venue| %>
		<tr id="<%= venue.id %>">
			<% 15.times do |hr| %>
				<% hr += 7 %>
				<% 4.times do |min| %>
					<% min = min*15 %>
					<td class="seg" style="height:20px;" hour="<%= hr < 10 ? '0'+hr.to_s : hr %>" mins="<%= min == 0 ? '00' : min %>"></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>

	<script type="text/javascript">
		$(document).ready(function() {
			var venue_events = JSON.parse('<%= @venue_events.to_json.html_safe %>');
			$.each(venue_events, function(i,evt) {
				var count = -1;
				var current = (evt.id == parseInt("<%= @event.id if @event %>"));
				console.log(evt.venue_id)
				$.each($("tr#"+evt.venue_id+" td.seg"), function(j,seg) {
					if ($(seg).attr("hour") == evt.hour && $(seg).attr("mins") == evt.mins) {
						current ? $(seg).addClass("selected first") : $(seg).addClass("used first");
						count = 1;
					}
					if (count != -1) {
						if (count < evt.duration) {
							count++;
							current ? $(seg).addClass("selected") : $(seg).addClass("used");
						} else {
							count = -1;
							current ? $(seg).addClass("selected last") : $(seg).addClass("used last");
						}
					}
				})
			})

			$("button#clear").unbind("click").click(function() {
				$("#venue_timetable td.selected").removeClass("selected first last");
				$("input#start_time").val("");
				$("input#end_time").val("");
				$("input#duration").val("0:00");
				$("#set_time").removeClass().addClass("start").attr("disabled", false).html("Set Start Time");
				timetableInteraction();
			})
			timetableInteraction();
		})
	</script>
<% end %>