<h2>Cash Up - <%= @date == Date.today ? "Today" : @date %></h2>
<div style="text-align:center;margin-bottom:20px;">
	<%= text_field_tag "date", @date, :placeholder => "Date" %><br/>
	<button id="change_date">Change Date</button>
</div>
<table style="margin:auto;width:60%;">
	<tr>
		<th>Time</th>
		<th>Booking</th>
		<th>Client</th>
		<th>Amount</th>
	</tr>
	<tr>
		<th colspan="4" style="text-align:center;">CASH</th>
	</tr>
	<% if @payments["cash"] %>
		<% @payments["cash"].each do |payment| %>
			<tr>
				<td><%= payment.created_at.localtime.strftime("%H:%M") %></td>
				<td><%= payment.booking.event.event_date.strftime("%Y-%m-%d") %> <%= payment.booking.event.start_time.strftime("%H:%M") %></td>
				<td><%= payment.booking.client.first_name %> <%= payment.booking.client.last_name %></td>
				<td><%= number_to_currency(payment.amount, :unit => "£", :delimiter => ",", :precision => 2) %></td>
			</tr>
		<% end %>
	<% else %>
		<tr>
			<td colspan="4" style="text-align:center;">No cash payments</td>
		</tr>
	<% end %>
	<tr>
		<th colspan="4" style="text-align:center;">CARD</th>
	</tr>
	<% if @payments["card"] %>
		<% @payments["card"].each do |payment| %>
			<tr>
				<td><%= payment.created_at.localtime.strftime("%H:%M") %></td>
				<td><%= payment.booking.event.event_date.strftime("%Y-%m-%d") %> <%= payment.booking.event.start_time.strftime("%H:%M") %></td>
				<td><%= payment.booking.client.first_name %> <%= payment.booking.client.last_name %></td>
				<td><%= number_to_currency(payment.amount, :unit => "£", :delimiter => ",", :precision => 2) %></td>
			</tr>
		<% end %>
	<% else %>
		<tr>
			<td colspan="4" style="text-align:center;">No card payments</td>
		</tr>
	<% end %>
	<tr>
		<th colspan="4" style="text-align:center;">CHEQUE</th>
	</tr>
	<% if @payments["cheque"] %>
		<% @payments["cheque"].each do |payment| %>
			<tr>
				<td><%= payment.created_at.localtime.strftime("%H:%M") %></td>
				<td><%= payment.booking.event.event_date.strftime("%Y-%m-%d") %> <%= payment.booking.event.start_time.strftime("%H:%M") %></td>
				<td><%= payment.booking.client.first_name %> <%= payment.booking.client.last_name %></td>
				<td><%= number_to_currency(payment.amount, :unit => "£", :delimiter => ",", :precision => 2) %></td>
			</tr>
		<% end %>
	<% else %>
		<tr>
			<td colspan="4" style="text-align:center;">No cheque payments</td>
		</tr>
	<% end %>
	<tr>
		<th colspan="4" style="text-align:center;">TOTALS</th>
	</tr>
	<tr>
		<th colspan="3" style="text-align:right;">Cash:</th>
		<td><%= number_to_currency(@totals["cash"], :unit => "£", :delimiter => ",", :precision => 2) %></td>
	</tr>
	<tr>
		<th colspan="3" style="text-align:right;">Card:</th>
		<td><%= number_to_currency(@totals["card"], :unit => "£", :delimiter => ",", :precision => 2) %></td>
	</tr>
	<tr>
		<th colspan="3" style="text-align:right;">Cheque:</th>
		<td><%= number_to_currency(@totals["cheque"], :unit => "£", :delimiter => ",", :precision => 2) %></td>
	</tr>
	<tr>
		<th colspan="3" style="text-align:right;">Total:</th>
		<td><%= number_to_currency(@totals["total"], :unit => "£", :delimiter => ",", :precision => 2) %></td>
	</tr>
</table>

<script type="text/javascript">
	$(document).ready(function() {
		$("input#date").datepicker({dateFormat: "yy-mm-dd"});
		$(".ui-datepicker").hide();

		$("button#change_date").unbind("click").click(function() {
			window.location.href = "/cash_up/"+$("input#date").val();
		})
	})
</script>