<h2>Edit "<%= @event.name if @event.name %>" <%= @event.start_time.strftime("%H:%M") if @event.start_time %><%= " - "+@booking.client.last_name+", "+@booking.client.first_name if @booking rescue nil %></h2>
<%= render :partial => "form" %>
<% if @event_edit_flag %>
	<button id="cancel" onclick="window.location.replace('/bookings')">Cancel</button><button id="save" onclick="completeEventEdit('<%= @event.id %>')">Save</button>
<% else %>
	<button id="cancel" onclick="window.location.replace('/bookings')">Cancel</button><button id="save" onclick="completeBooking('<%= @booking.id %>')">Save</button>
<% end %>