<h2>Event</h2>
<div style="text-align:center;"><a href="/print/event/<%= @event.id %>" target="_blank">Print</a></div>
<div class="show_section">
	<table>
		<tr>
			<th>Type:</th>
			<td><%= @event.event_type.downcase.capitalize if @event.event_type %></td>
		</tr>
		<tr>
			<th>Description:</th>
			<td><%= @event.description if @event.description %></td>
		</tr>
		<tr>
			<th>Venue:</th>
			<td><%= @event.venue.name if @event.venue %></td>
		</tr>
		<tr>
			<th>Date:</th>
			<td><%= @event.event_date %></td>
		</tr>
		<tr>
			<th>Start Time:</th>
			<td><%= @event.start_time.strftime("%H:%M") if @event.start_time %></td>
		</tr>
		<tr>
			<th>End Time:</th>
			<td><%= @event.end_time.strftime("%H:%M") if @event.end_time %></td>
		</tr>
		<tr>
			<th>Staff:</th>
			<td><%= @event.staff_list %></td>
		</tr>
	</table>
</div>
<div class="show_section">
	<h3>Bookings</h3>
	<table>
		<tr>
			<th>Name</th>
			<th>Date of Birth</th>
			<th>Horse</th>
			<th></th>
		</tr>
		<% if @event.bookings.first %>
			<% @event.bookings.each do |booking| %>
				<tr>
					<td><%= booking.client.first_name+" "+booking.client.last_name if booking.client %></td>
					<td><%= booking.client.date_of_birth if booking.client %></td>
					<td><%= booking.horse.name if booking.horse %></td>
					<td><a href="/bookings/edit/<%= booking.id %>">Edit</td>
				</tr>
			<% end %>
		<% else %>
			<tr>
				<td colspan="4">No bookings for this event</td>
			</tr>
		<% end %>
	</table>
</div>
<div style="text-align:center;"><button class="link" link="/bookings/edit_event/<%= @event.id %>">Edit Event</button><button class="link" link="/bookings">Close</button></div>
