<h2>Payment</h2>
<h2><%= @event.event_date.strftime("%a") %> <%= @event.event_date.strftime("%d").to_i.ordinalize %> <%= @event.event_date.strftime("%b %Y") %> - <%= @event.start_time.strftime("%l:%M%P") %> - <%= @booking.client.first_name %> <%= @booking.client.last_name %></h2>
<h2><%= @event.payment_duration %> - <%= @event.event_type.downcase.capitalize if @event.event_type %></h2>
<div class="form_section" style="text-align:center;">
	<br/>
	<table style="margin:auto;">
		<tr>
			<td>
				<input type="radio" name="payment_type" value="cash" checked="checked" />
				Cash
			</td>
			<td>
				<input type="radio" name="payment_type" value="card" />
				Card
			</td>
			<td>
				<input type="radio" name="payment_type" value="cheque" />
				Cheque
			</td>
			<td>
				<input type="radio" name="payment_type" value="voucher" />
				Voucher
			</td>
			<td>
				<input type="radio" name="payment_type" value="hours" />
				Hours
			</td>
			<td>
				<input type="radio" name="payment_type" value="foc" />
				FOC
			</td>
		</tr>
		<tr>
			<td colspan="6">Amount: <%= number_field_tag :amount, 0, :min => 0, :step => 0.01, :class => "field" %></td>
		</tr>
	</table>
	<table class="form_table" style="margin:auto;">
		<tr>
			<td>Description: <%= text_field_tag :description, "", :class => "field", :style => "width:400px;" %></td>
		</tr>
		<tr>
			<td>Cash-Up Date: <%= text_field_tag :payment_date, Date.today.strftime("%d-%m-%Y"), :class => "field", :style => "width:100px;" %></td>
		</tr>
	</table>
	<br/>
	<table id="merch_table" class="form_table" style="margin:auto;">
		<tr><td style="text-align:center;font-weight:bold;">Merchandise</td></tr>
		<tr id="default">
			<td>
				<select class="merch_field">
					<option value="0"></option>
					<% @stock.each do |item| %>
						<option value="<%= item.id %>"><%= item.quantity %>x <%= number_to_currency(item.cost, :unit => "£", :precision => 2) %> - <%= item.name %>: <%= item.description %></option>
					<% end %>
				</select> <a class="remove_merch" style="display:none;">Remove</a>
			</td>
		</tr>
	</table>
	<button id="add_merch" style="font-weight:bold;font-size:14px;">+</button>
</div>
<div style="text-align:center;">
	<ul class="error" id="form_errors" style="margin-left:45%;"></ul>
	<button id="cancel" onclick="window.location.replace('/bookings/show/<%= @booking.id %>')">Cancel</button><button id="save" onclick="savePayment('<%= @booking.id %>')">Save</button>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("input#payment_date").datepicker({dateFormat: "dd-mm-yy"});
		$(".ui-datepicker").hide();

		$("button#add_merch").unbind("click").click(function() {
			var new_merch = $("tr#default").clone();
			$(new_merch).removeAttr("id");
			$(new_merch).find("a.remove_merch").show().unbind("click").click(function() {
				$(this).parents("tr").remove();
			});
			$("table#merch_table").append(new_merch);
		});
	});
</script>
