<h2>Payment</h2>
<h2><%= @event.event_date.strftime("%a") %> <%= @event.event_date.strftime("%d").to_i.ordinalize %> <%= @event.event_date.strftime("%b %Y") %> - <%= @event.start_time.strftime("%l:%M%P") %> - <%= @booking.client.first_name %> <%= @booking.client.last_name %></h2>
<h2><%= @event.payment_duration %> - <%= @event.event_type.downcase.capitalize if @event.event_type %></h2>
<div class="form_section" style="text-align:center;">
	<br/>
	<table style="margin:auto;">
		<tr>
			<td>
				<input type="radio" name="payment_type" value="cash" checked="checked" />
				Cash
			</td>
			<td>
				<input type="radio" name="payment_type" value="card" />
				Card
			</td>
			<td>
				<input type="radio" name="payment_type" value="cheque" />
				Cheque
			</td>
			<td>
				<input type="radio" name="payment_type" value="voucher" />
				Voucher
			</td>
			<td>
				<input type="radio" name="payment_type" value="hours" />
				Hours
			</td>
		</tr>
		<tr>
			<td colspan="5">Amount: <%= number_field_tag :amount, 0, :min => 0, :step => 0.01, :class => "field" %></td>
		</tr>
	</table>
</div>
<div style="text-align:center;">
	<ul class="error" id="form_errors" style="margin-left:45%;"></ul>
	<button id="cancel" onclick="window.location.replace('/bookings/show/<%= @booking.id %>')">Cancel</button><button id="save" onclick="savePayment('<%= @booking.id %>')">Save</button>
</div>