<div class="show_section">
	<h3>Booking</h3>
	<table>
		<tr>
			<th>Type:</th>
			<td><%= @event.event_type.downcase.capitalize if @event.event_type %></td>
		</tr>
		<tr>
			<th>Standard:</th>
			<td><%= @event.standard.downcase.capitalize if @event.standard %></td>
		</tr>
		<tr>
			<th>Venue:</th>
			<td><%= @event.venue.name if @event.venue %></td>
		</tr>
		<tr>
			<th>Date:</th>
			<td><%= @event.event_date %></td>
		</tr>
		<tr>
			<th>Start Time:</th>
			<td><%= @event.start_time.strftime("%H:%M") if @event.start_time %></td>
		</tr>
		<tr>
			<th>End Time:</th>
			<td><%= @event.end_time.strftime("%H:%M") if @event.end_time %></td>
		</tr>
		<tr>
			<th>Staff:</th>
			<td><%= @event.staff.first_name+" "+@event.staff.last_name if @event.staff %></td>
		</tr>
	</table>
</div>
<div class="show_section">
	<h3>Participant</h3>
	<table>
		<tr>
			<th>Name:</th>
			<td><%= @booking.client.first_name+" "+@booking.client.last_name if @booking.client %></td>
		</tr>
		<tr>
			<th>Date of Birth:</th>
			<td><%= @booking.client.date_of_birth if @booking.client %></td>
		</tr>
		<tr>
			<th>Horse:</th>
			<td><%= @booking.horse.name if @booking.horse %></td>
		</tr>
	</table>
</div>
<div class="show_section">
	<h3>Payment</h3>
	<table>
		<tr>
			<th colspan="2">Cost (Total)</th>
			<td><%= number_to_currency(@booking.cost, :unit => "£", :precision => 2) %></td>
		</tr>
		<tr>
			<th colspan="2">Balance (Owed)</th>
			<td><%= number_to_currency(@booking.balance, :unit => "£", :precision => 2) %></td>
		</tr>
		<% if @booking.payments.count > 0 %>
			<tr>
				<th colspan="3" style="text-align:center;">Payments</th>
			</tr>
			<% @booking.payments.each do |payment| %>
				<tr>
					<td><%= payment.created_at.localtime.strftime("%Y-%m-%d %H:%M") if payment.created_at %></td>
					<td><%= payment.friendly_type %></td>
					<td><%= number_to_currency(payment.amount, :unit => "£", :precision => 2) %></td>
					<td><a onclick="confirmation('<%= payment.friendly_type %> - <%= number_to_currency(payment.amount, :unit => "£", :precision => 2) %>','/bookings/delete_payment/<%= payment.id %>')">Delete</a></td>
				</tr>
			<% end %>
		<% end %>
	</table>
	<button class="link" link="/bookings/payment/<%= @booking.id %>">Make Payment</button>
</div>
<div class="show_section">
	<h3>Notes</h3>
	<table>
		<tr class="header">
			<th style="width:10%;">Title</th>
			<th style="width:45%">Contents</th>
			<th style="width:5%;">Priority</th>
		</tr>
		<% if !@booking.notes.empty? %>
			<% @booking.notes.each do |note| %>
				<tr>
					<td><%= note.title %></td>
					<td><%= note.content %></td>
					<td><%= note.urgent ? "High" : "Normal" %></td>
				</tr>
			<% end %>
		<% else %>
			<tr><td colspan="3" style="text-align:center;font-weight:bold;">No notes found</td></tr>
		<% end %>
	</table>
	<button class="link" link="/notes/new/BOOKING/<%= @booking.id %>">Create Note</button>
</div>
<div style="text-align:center;"><button class="link" link="/bookings/edit/<%= @booking.id %>">Edit</button><button class="link" link="/bookings/date/<%= @event.event_date %>">Close</button></div>

<script type="text/javascript">
	$(document).ready(function() {
		$.each($("a.delete_payment"), function(i,link) {
			$(link).unbind("click").click(function() {
				$.ajax({
					url: "/bookings/delete_payment/"+$(this).attr("payment_id"),
					type: "POST",
					success: function() {
						window.location.reload();
					}
				})
			})
		})
	})
</script>