<h2>Booking</h2>
<div style="text-align:center;"><a href="/print/booking/<%= @booking.id %>" target="_blank">Print</a></div>
<div class="show_section">
	<table>
		<tr>
			<th>Type:</th>
			<td><%= @event.event_type.downcase.capitalize if @event.event_type %></td>
		</tr>
		<tr>
			<th>Description:</th>
			<td><%= @event.description if @event.description %></td>
		</tr>
		<tr>
			<th>Instructor Notes:</th>
			<td><%= @event.staff_notes if @event.staff_notes %></td>
		</tr>
		<tr>
			<th>Venue:</th>
			<td><%= @event.venue.name if @event.venue %></td>
		</tr>
		<tr>
			<th>Date:</th>
			<td><%= @event.event_date.strftime("%a") %> <%= @event.event_date.strftime("%d").to_i.ordinalize %> <%= @event.event_date.strftime("%b %Y") %></td>
		</tr>
		<tr>
			<th>Start Time:</th>
			<td><%= @event.start_time.strftime("%l:%M%P") if @event.start_time %></td>
		</tr>
		<tr>
			<th>End Time:</th>
			<td><%= @event.end_time.strftime("%l:%M%P") if @event.end_time %></td>
		</tr>
		<tr>
			<th>Instructor:</th>
			<td><%= @event.staff_list %></td>
		</tr>
	</table>
</div>
<div class="show_section">
	<h3>Participant</h3>
	<table>
		<tr>
			<th>Name:</th>
			<td><%= @booking.client.first_name+" "+@booking.client.last_name if @booking.client %></td>
		</tr>
		<tr>
			<th>Date of Birth:</th>
			<td><%= @booking.client.standard.downcase.capitalize if @booking.client rescue nil %></td>
		</tr>
		<tr>
			<th>Horse:</th>
			<td><%= @booking.horse.name if @booking.horse %></td>
		</tr>
	</table>
</div>
<div class="show_section">
	<h3>Confirmed?</h3>
	<table>
		<tr>
			<td><%= check_box_tag "confirmed", "", @booking.confirmed %></td>
		</tr>
	</table>
	<h3>Rebooked?</h3>
	<table>
		<tr>
			<td><%= @booking.rebooked ? "Yes" : "No" %></td>
		</tr>
	</table>
</div>
<div class="show_section">
	<h3>Payment</h3>
	<table>
		<% if @booking.payments.count > 0 %>
			<tr>
				<th colspan="3" style="text-align:center;">Payments</th>
			</tr>
			<% @booking.payments.each do |payment| %>
				<tr>
					<td><%= payment.created_at.localtime.strftime("%d-%m-%Y %l:%M%P") if payment.created_at %></td>
					<td><%= payment.friendly_type %></td>
					<% if payment.voucher || payment.hours || payment.foc %>
						<td><%= payment.amount %></td>
					<% else %>
						<td><%= number_to_currency(payment.amount, :unit => "£", :precision => 2) %></td>
					<% end %>
					<td><a onclick="confirmation('<%= payment.friendly_type %> - <%= number_to_currency(payment.amount, :unit => "£", :precision => 2) %>','/bookings/delete_payment/<%= payment.id %>')">Delete</a></td>
				</tr>
			<% end %>
		<% else %>
			<tr>
				<td>No payments made</td>
			</tr>
		<% end %>
	</table>
	<button class="link" link="/bookings/payment/<%= @booking.id %>">Make Payment</button>
</div>
<div class="show_section">
	<h3>Notes</h3>
	<table>
		<tr class="header">
			<th style="width:10%;">Title</th>
			<th style="width:45%">Contents</th>
			<th style="width:5%;">Priority</th>
		</tr>
		<% if !@booking.notes.where("start_date <= ? AND end_date >= ?", Date.today, Date.today).empty? %>
			<% @booking.notes.where("start_date <= ? AND end_date >= ?", Date.today, Date.today).each do |note| %>
				<tr>
					<td><%= note.title %></td>
					<td><%= note.content %></td>
					<td><%= note.urgent ? "High" : "Normal" %></td>
				</tr>
			<% end %>
		<% else %>
			<tr><td colspan="3" style="text-align:center;font-weight:bold;">No notes found</td></tr>
		<% end %>
	</table>
	<button class="link" link="/notes/new/BOOKING/<%= @booking.id %>">Create Note</button>
</div>
<div style="text-align:center;"><button id="next_week" onclick="fancyNextWeek('<%= @booking.id %>');">Repeat Booking</button><button class="link" link="/bookings/edit/<%= @booking.id %>" style="<%= 'display:none;' if @booking.cancelled %>">Edit</button><button class="link" link="/bookings/date/<%= @event.event_date.strftime('%d-%m-%Y') %>">Close</button></div>

<script type="text/javascript">
	$(document).ready(function() {
		$("input#confirmed").unbind("click").click(function() {
			$.ajax({
				url: "/bookings/status/<%= @booking.id %>/"+$(this).is(":checked"),
				type: "POST"
			})
		})

		$.each($("a.delete_payment"), function(i,link) {
			$(link).unbind("click").click(function() {
				$.ajax({
					url: "/bookings/delete_payment/"+$(this).attr("payment_id"),
					type: "POST",
					success: function() {
						window.location.reload();
					}
				})
			})
		})
	})
</script>