<div id="company_info">
	<strong><%= @business_name %></strong><br/>
	<%= @business_address %><br/>
	Email: <%= @business_email %><br/>
	Tel: <%= @business_telephone %>
</div>
<div id="powered_by">
	Powered By: 
	<%= image_tag "icons/rails.png", :size => "20x25" %>
	<%= image_tag "icons/heroku.png", :size => "75x25" %><br/>
	Design & Build: <strong>Mark Oliver</strong>
</div>
<div id="issues_footer">
	<% if !@status_issues.empty? %>
		<a href="/"><strong><%= @status_issues.count %> issues found</strong></a>
	<% else %>
		<span>No issues found</span>
	<% end %>
	<br/>
	<% if !@status_notes.empty? %>
		<a href="/"><strong><%= @status_notes.count %> high priority notes found</strong></a>
	<% else %>
		<span>No high priority notes found</span>
	<% end %>
</div>