<div class="form_section">
	<h3>Details</h3>
	<table class="form_table">
		<tr>
			<td><%= text_field_tag "first_name", @client.first_name, :placeholder => "First Name", :class => "long" %></td>
			<td><%= text_field_tag "last_name", @client.last_name, :placeholder => "Last Name", :class => "long" %></td>
			<td><%= select_tag "standard", "<option>Select Riding Standard</option><option value='BEGINNER'>Beginner</option><option value='INTERMEDIATE'>Intermediate</option><option value='ADVANCED'>Advanced</option>".html_safe %></td>
		</tr>
	</table>
</div>
<div class="form_section">
	<h3>Contact</h3>
	<table class="form_table">
		<tr>
			<td><%= text_field_tag "address_line_1", @client.address_line_1, :placeholder => "Address Line 1", :class => "long" %></td>
			<td><%= text_field_tag "address_line_2", @client.address_line_2, :placeholder => "Address Line 2", :class => "long" %></td>
			<td><%= text_field_tag "city", @client.city, :placeholder => "City" %></td>
			<td><%= text_field_tag "county", @client.county, :placeholder => "County" %></td>
			<td><%= text_field_tag "country", @client.country, :placeholder => "Country" %></td>
			<td><%= text_field_tag "post_code", @client.post_code, :placeholder => "Post Code" %></td>
		</tr>
		<tr>
			<td>Home: <%= text_field_tag "home_phone", @client.home_phone, :placeholder => "Home Phone" %></td>
			<td>Mobile: <%= text_field_tag "mobile_phone", @client.mobile_phone, :placeholder => "Mobile Phone" %></td>
		</tr>
	</table class="form_table">
</div>
<div class="form_section">
	<h3>Emergency</h3>
	<table class="form_table">
		<tr>
			<td><%= text_field_tag "emergency_contact_name", @client.emergency_contact_name, :placeholder => "Emergency Contact Name", :class => "long" %></td>
			<td><%= text_field_tag "emergency_contact_phone", @client.emergency_contact_phone, :placeholder => "Emergency Contact Phone", :class => "long" %></td>
		</tr>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		try {
			$("select#standard").val("<%= @client.standard %>")
		} catch (e) {}
	})
</script>