<% if !@clients.empty? %>
	<% @clients.each do |client| %>
		<tr>
			<td><%= client.first_name if client.first_name %> <%= client.last_name if client.last_name %></td>
			<td><%= client.date_of_birth.strftime("%d-%m-%Y") if client.date_of_birth %></td>
			<td><%= client.standard.downcase.capitalize if client.standard %></td>
			<td><%= client.address %><br/><%= client.post_code if client.post_code %></td>
			<td>Home: <%= client.home_phone if client.home_phone %><br/>Mobile: <%= client.mobile_phone if client.mobile_phone %></td>
			<td><%= client.emergency_contact_name if client.emergency_contact_name %><br/><%= client.emergency_contact_phone if client.emergency_contact_phone %></td>
			<td style="vertical-align:middle;">
				<a href="/clients/show/<%= client.id %>">Details</a> | <a href="/notes/CLIENT/<%= client.id %>">Notes</a><br/>
				<% if current_user.user_level != User::BASE %>
					<a href="/clients/edit/<%= client.id %>">Edit</a> | <a onclick="confirmation('<%= client.first_name+" "+client.last_name %>','/clients/delete/<%= client.id %>')">Delete</a>
				<% end %>
			</td>
		</tr>
	<% end %>
<% else %>
	<tr>
		<td colspan="7" class="center"><strong>No clients found</strong></td>
	</tr>
<% end %>