<% if !@all_notes.empty? %>
	<ul class="home_list">
		<% @all_notes.each_with_index do |note,i| %>
			<li class="<%= 'odd' if i%2==0 %>" style="<%= 'border-top:1px solid #5F5F5F;' if i==0 %>">
				<div style="float:left;"><a href="<%= note.subject_link %>"><strong><%= note.title %></strong></a></div><div style="float:right;"><%= note.urgent ? '<strong>HIGH</strong>'.html_safe : 'Normal' %></div>
				<div style="clear:both;"><%= note.subject_title %></div>
				<div style="clear:both;"><%= note.content %></div>
			</li>
		<% end %>
	</ul>
<% else %>
	<div class="nothing_to_display">No notes found</div>
<% end %>