<div class="home_reports_panel" id="home_report_panel_1"></div>
<div class="home_reports_panel" id="home_report_panel_2"></div>

<script type="text/javascript">
	REPORTS.create({
		name: "<%= @home_report_1 %>",
		data: JSON.parse('<%= @data1.to_json.html_safe if @data1 %>'),
		mini: true,
		period: "<%= @period_1 %>",
		container: $("#home_report_panel_1")
	});
	REPORTS.create({
		name: "<%= @home_report_2 %>",
		data: JSON.parse('<%= @data2.to_json.html_safe if @data2 %>'),
		mini: true,
		period: "<%= @period_2 %>",
		container: $("#home_report_panel_2")
	});
</script>