<div id="home_col_left">
	<div class="home_panel home_left" id="schedule">
		<div class="home_content">
			<%= render :partial => "today" %>
		</div>
		<div class="home_footer">
			<a href="/print/schedule" target="_blank" style="float:right;margin-right:5px;margin-top:8px;">Print</a>
			<button id="available_now" style="margin-top:6px;" onclick="fancyAvailableNow();">AVAILABLE NOW</button>
		</div>
	</div>
</div>
<div id="home_col_right">
	<div class="home_panel home_right" id="issues">
		<div class="home_content">
			<%= render :partial => "issues" %>
		</div>
		<div class="home_title" id="issues_title">Issues</div>
	</div>
	<div id="clock_wrapper"><canvas id="clock" class="CoolClock:<%= @clock_style %>:30::"></canvas><div id="date_wrapper"><%= Date.today.strftime("%A") %> <%= Date.today.strftime("%d").to_i.ordinalize %> <%= Date.today.strftime("%B %Y") %></div></div>
	<div class="home_panel home_right" id="notes">
		<div class="home_title" id="notes_title">Notes</div>
		<div class="home_content" style="clear:both;">
			<%= render :partial => "notes" %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var prompt = ("<%= @prompt %>"=="true") ? true : false;
		if (prompt) {
			fancyConfirmAutoAssign("<%= Date.today.strftime('%d-%m-%Y') %>");
		}
	})
</script>