<% @date = Date.parse(@date) rescue @date %>
<a href="/schedule/<%= @date.advance(:days => -1).strftime("%d-%m-%Y") %>" style="float:left;"><< <%= @date.advance(:days => -1).strftime("%d-%m-%Y") %></a>
<a href="/schedule/<%= @date.advance(:days => 1).strftime("%d-%m-%Y") %>" style="float:right;"><%= @date.advance(:days => 1).strftime("%d-%m-%Y") %> >></a>
<h2>Schedule: <%= @date == Date.today ? "Today" : @date.strftime("%a")+" "+@date.strftime("%d").to_i.ordinalize+" "+@date.strftime("%b %Y") %></h2>
<div id="schedule_container">
	<table id="schedule">
		<tr id="header">
			<th class="first">Venue</th>
			<% 15.times do |hr| %>
				<% hr += 7 %>
				<% ahr = hr > 12 ? hr-12 : hr %>
				<th class="<%= 'last' if hr==21 %>" colspan="4"><%= "#{ahr}:00" %><%= hr < 12 ? 'am' : 'pm' %></th>
			<% end %>
		</tr>
		<% @venues.each do |name,venues| %>
			<% venues.each do |venue| %>
				<tr venue_id="<%= venue.id %>">
					<% if venue == venues.first %>
						<td class="big" rowspan="<%= venues.count %>"><%= venue.name %></td>
					<% end %>
					<% 15.times do |hr| %>
						<% hr += 7 %>
						<% 4.times do |min| %>
							<% min = min*15 %>
							<td class="seg" style="height:50px;" hour="<%= hr < 10 ? '0'+hr.to_s : hr %>" mins="<%= min == 0 ? '00' : min %>"></td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>
<div id="schTooltip"></div>

<script type="text/javascript">
	$(document).ready(function() {
		if (window.sch) window.sch.teardown();
		window.sch = new Schedule(JSON.parse('<%= @events.to_json.html_safe %>'));
	})
</script>