<h2>Searched for: <%= @search %></h2>
<table id="search_results" style="width:100%;">
	<tr class="header">
		<th class="sorted sortable" sort="last_name" mod="ASC" style="width:12%;"><span class="sort"></span>Name</th>
		<th class="sortable" sort="date_of_birth" mod="DESC" style="width:12%"><span class="sort"></span>Date of Birth</th>
		<th class="sortable" sort="standard" mod="DESC" style="width:12%;"><span class="sort"></span>Riding Standard</th>
		<th style="width:35%;">Address</th>
		<th style="width:15%;">Phone</th>
		<th style="width:14%;">Emergency Contact</th>
	</tr>
	<% if !@results.empty? %>
		<% @results.each do |client| %>
			<tr class="result" client_id="<%= client.id %>">
				<td><%= client.first_name if client.first_name %> <%= client.last_name if client.last_name %></td>
				<td><%= client.date_of_birth if client.date_of_birth %></td>
				<td><%= client.standard.downcase.capitalize if client.standard %></td>
				<td><%= client.address %><br/><%= client.post_code if client.post_code %></td>
				<td>Home: <%= client.home_phone if client.home_phone %><br/>Mobile: <%= client.mobile_phone if client.mobile_phone %></td>
				<td><%= client.emergency_contact_name if client.emergency_contact_name %><br/><%= client.emergency_contact_phone if client.emergency_contact_phone %></td>
			</tr>
		<% end %>
	<% else %>
		<tr>
			<td colspan="6" class="center"><strong>No clients found</strong></td>
		</tr>
	<% end %>
</table>

<script type="text/javascript">
	$(document).ready(function() {
		$.each($("tr.result"), function(i,result) {
			$(result).unbind("click").click(function() {
				window.location.href = "/clients/show/"+$(this).attr("client_id");
			})
		})
	})
</script>