<html>
	<head>
		<style type="text/css">
			h1 {
				font-size: 18px;
				font-weight: bold;
				text-decoration: underline;
			}
			
			table {
				width: 100%;
				margin-bottom: 10px;
				border-collapse: collapse;
			}
			
			table td, table th {
				border: 1px solid black;
			}
			
			table th {
				font-weight: bold;
				font-size: 1.1em;
			}
		</style>
	</head>
	<body>
		<h1>EVENT (ID: <%= @event.id %>)</h1>
		<table>
			<tr>
				<th>Type:</th>
				<td><%= @event.event_type.downcase.capitalize if @event.event_type %></td>
			</tr>
			<tr>
				<th>Description:</th>
				<td><%= @event.description if @event.description %></td>
			</tr>
			<tr>
				<th>Venue:</th>
				<td><%= @event.venue.name if @event.venue %></td>
			</tr>
			<tr>
				<th>Date:</th>
				<td><%= @event.event_date %></td>
			</tr>
			<tr>
				<th>Start Time:</th>
				<td><%= @event.start_time.strftime("%l:%M %P") if @event.start_time %></td>
			</tr>
			<tr>
				<th>End Time:</th>
				<td><%= @event.end_time.strftime("%l:%M %P") if @event.end_time %></td>
			</tr>
			<tr>
				<th>Instructor:</th>
				<td><%= @event.staff_list %></td>
			</tr>
		</table>
		<h2>Bookings</h2>
		<table>
			<tr>
				<th>Name</th>
				<th>Date of Birth</th>
				<th>Horse</th>
			</tr>
			<% if @event.bookings.first %>
				<% @event.bookings.each do |booking| %>
					<tr>
						<td><%= booking.client.first_name+" "+booking.client.last_name if booking.client %></td>
						<td><%= booking.client.date_of_birth if booking.client %></td>
						<td><%= booking.horse.name if booking.horse %></td>
					</tr>
				<% end %>
			<% else %>
				<tr>
					<td colspan="4">No bookings for this event</td>
				</tr>
			<% end %>
		</table>
	</body>
</html>

<script type="text/javascript">
	window.print();
</script>