<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
		<%= stylesheet_link_tag    "reports" %>
		<style type="text/css">text.print_size{font-size:10px;}</style>
		<%= javascript_include_tag "application" %>
	</head>
	<body>
		<h1>REPORTS - <%= @from.strftime("%A") %> <%= @from.strftime("%d").to_i.ordinalize %> <%= @from.strftime("%B %Y") %> to <%= @to.strftime("%A") %> <%= @to.strftime("%d").to_i.ordinalize %> <%= @to.strftime("%B %Y") %></h1>
		<div class="report_panel_2">
			<h3>Horse Workloads</h3>
			<div id="horse_workloads_container" style="width:1100px;"></div>
		</div>
		<div class="report_panel_2">
			<h3>Staff Workloads</h3>
			<div id="staff_workloads_container" style="width:1100px;"></div>
		</div>
		<div class="report_panel">
			<h3>Horse Events</h3>
			<div id="horse_events_container"></div>
		</div>
		<div class="report_panel">
			<h3>Client Ages</h3>
			<div id="client_ages_container"></div>
		</div>
		<div class="report_panel">
			<h3>Client Events</h3>
			<div id="client_events_container"></div>
		</div>
		<!-- <div class="report_panel">
			<h3>Client Standards</h3>
			<div id="client_standards_container"></div>
		</div> -->
		<div class="report_panel">
			<h3>Event Types</h3>
			<div id="event_types_container"></div>
		</div>
		<div class="report_panel">
			<h3>Bookings by Day</h3>
			<div id="day_bookings_container"></div>
		</div>
		<div class="report_panel">
			<h3>Bookings by Hour</h3>
			<div id="hour_bookings_container"></div>
		</div>
	</body>
</html>

<script type="text/javascript">
	$(document).ready(function() {
		try {
			REPORTS.create({
				name: "horse_workloads",
				data: JSON.parse('<%= @horse_workloads.to_json.html_safe if @horse_workloads %>'),
				mini: false,
				container: "#horse_workloads_container"
			});
			REPORTS.create({
				name: "staff_workloads",
				data: JSON.parse('<%= @staff_workloads.to_json.html_safe if @staff_workloads %>'),
				mini: false,
				container: "#staff_workloads_container"
			});
			REPORTS.create({
				name: "horse_events",
				data: JSON.parse('<%= @horse_events.to_json.html_safe if @horse_events %>'),
				mini: false,
				container: $("#horse_events_container")
			});
			REPORTS.create({
				name: "client_ages",
				data: JSON.parse('<%= @client_ages.to_json.html_safe if @client_ages %>'),
				mini: false,
				container: $("#client_ages_container")
			});
			REPORTS.create({
				name: "client_events",
				data: JSON.parse('<%= @client_events.to_json.html_safe if @client_events %>'),
				mini: false,
				container: $("#client_events_container")
			});
			// REPORTS.create({
			// 	name: "client_standards",
			// 	data: JSON.parse('<%= @client_standards.to_json.html_safe if @client_standards %>'),
			// 	mini: false,
			// 	container: $("#client_standards_container")
			// });
			REPORTS.create({
				name: "event_types",
				data: JSON.parse('<%= @event_types.to_json.html_safe if @event_types %>'),
				mini: false,
				container: $("#event_types_container")
			});
			REPORTS.create({
				name: "bookings_by_day",
				data: JSON.parse('<%= @day_bookings.to_json.html_safe if @day_bookings %>'),
				mini: false,
				container: $("#day_bookings_container")
			});
			REPORTS.create({
				name: "bookings_by_hour",
				data: JSON.parse('<%= @hour_bookings.to_json.html_safe if @hour_bookings %>'),
				mini: false,
				container: $("#hour_bookings_container")
			});
		} catch (e) {
			// console.log(e);
		}
		window.print();
	});
</script>