<html>
	<head>
		<style type="text/css">
			h1 {
				font-size: 18px;
				font-weight: bold;
				text-decoration: underline;
			}

			table {
				width: 100%;
				border: 1px solid black;
			}

			table.break {
				page-break-after: always;
			}

			table tr.bottom td {
				border-bottom: 1px solid black;
			}
		</style>
	</head>
	<body>
		<h1>SCHEDULE - <%= @date.strftime("%A") %> <%= @date.strftime("%d").to_i.ordinalize %> <%= @date.strftime("%B %Y") %></h1>
		<% if !@events.empty? %>
			<table class="<%= 'break' unless @staff.empty? %>">
				<% @events.each do |event| %>
					<tr class="<%= 'bottom' unless event.bookings.first %>">
						<td><%= event.start_time.strftime("%l:%M%P") %>-<%= event.end_time.strftime("%l:%M%P") %></td>
						<td><strong><%= event.event_type %></strong></td>
						<td><strong>Instructor:</strong> <%= event.staff_list %></td>
						<td><strong>Venue:</strong> <%= event.venue.name if event.venue rescue nil %></td>
					</tr>
					<% event.bookings.each do |booking| %>
						<tr class="<%= 'bottom' if booking==event.bookings.last && event != @events.last %>">
							<td colspan="2"></td>
							<td><strong>Client:</strong> <%= booking.client.first_name if booking.client %> <%= booking.client.last_name if booking.client %></td>
							<td><strong>Horse:</strong> <%= booking.horse.name if booking.horse %></td>
						</tr>
					<% end %>
				<% end %>
			</table>
		<% else %>
			<table><tr><td>No events today</td></tr></table>
		<% end %>

		<% if !@staff.empty? %>
			<% @staff.each_with_index do |staff,i| %>
				<h1><%= staff[0] %> - <%= @date.strftime("%A") %> <%= @date.strftime("%d").to_i.ordinalize %> <%= @date.strftime("%B %Y") %></h1>
				<table class="<%= 'break' unless i==@staff.count-1 %>">
					<% staff[1].each do |event| %>
						<% duration = false %>
						<tr>
							<td><%= event.start_time.strftime("%l:%M%P") %>-<%= event.end_time.strftime("%l:%M%P") %></td>
							<td><strong><%= event.event_type %></strong></td>
							<td><%= event.venue.name if event.venue rescue nil %></td>
						</tr>
						<% event.bookings.each do |booking| %>
							<tr>
								<% if duration %>
									<td></td>
								<% else %>
									<% duration = true %>
									<td><%= event.payment_duration %></td>
								<% end %>
								<td><strong>Client:</strong> <%= booking.client.first_name if booking.client %> <%= booking.client.last_name if booking.client %></td>
								<td><strong>Horse:</strong> <%= booking.horse.name if booking.horse %></td>
							</tr>
						<% end %>
						<tr class="bottom">
							<% if duration %>
								<td></td>
							<% else %>
								<% duration = true %>
								<td><%= event.payment_duration %></td>
							<% end %>
							<td colspan="2"><strong>Notes:</strong> <%= event.description if event.description %></td>
						</tr>
					<% end %>
				</table>
			<% end %>
		<% end %>
	</body>
</html>

<script type="text/javascript">
	window.print();
</script>