<% if !@items.empty? %>
	<% @items.each do |item| %>
		<tr>
			<td><%= item.name %></td>
			<td><%= item.description %></td>
			<td><%= number_to_currency(item.cost, :unit=>"£", :precision=>2) %></td>
			<td><button class="quantity_change" direction="DESC">-</button> <span id="quantity_<%= item.id %>"><%= item.quantity %></span> <button class="quantity_change" direction="ASC">+</button></td>
			<td><a href="/stock/edit/<%= item.id %>">Edit</a></td>
		</tr>
	<% end %>
<% else %>
	<tr>
		<td colspan="5" class="center"><strong>No stock items found</strong></td>
	</tr>
<% end %>